<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Result</h1>
    <p id="title">Title</p>

    <script>  async function getResult() {
        const options = {
          method: 'POST',
          headers: {'Content-Type': 'application/json'},
          body: new FormData(myList)
      };
      
        let response= await fetch('http://127.0.0.1:3000/exam/result/1/1', options);
      
        let data = await response.json()
        return data
      }
      
      
      getResult().then(data => {
        console.log(data);
        // thay doi ui tu du lieu nhan duoc
        document.getElementById('title').innerHTML = ` Your Score: ${data}` ;
      }) </script>
</body>
</html>